#Librerias que vamos a usar :D
#Esto pal readme -> Para instalar las dependencias, ejecuta el siguiente comando en tu terminal:
#pip install -r requirements.txt

Flask
Flask-SQLAlchemy
Flask-PyMongo
psycopg2-binary
pymongo
python-dotenv
PyJWT
bcrypt
flask-cors
faker